<% if obj.errors.any? %>
  <div class="alert alert-error">
    <h1><%= "#{obj.errors.size} error prohibited this #{obj.class.name.downcase} from being saved:" %></h1>
    <ul>
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
