<div id='projects-wrapper'>
  <%= render 'shared/content_title', title: 'Projects' %>

  <% if @projects.empty? %>
    <p><em>
      There are no projects!
      <%= link_to "Add one now?", new_project_path %>
    </em></p>
  <% else %>
    <table id="projects-data">
      <thead>
        <tr>
          <th>Name</th>
          <th>Open Tickets</th>
          <th>Total Tickets</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr><%= render 'project', project: project %></tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to 'New Project', new_project_path %>
</div>
