<td><%= tag.name %></td>
<td><%= link_to (@ticket_totals[tag.id] || 0), tickets_path(tag: tag.id) %></td>
<td>
  <%= link_to 'Edit', edit_tag_path(tag) %>
  or
  <%= link_to 'Destroy', tag_path(tag), method: :delete, data: {confirm: 'Are you sure?'} %>
</td>
