<div id='tags-wrapper'>
  <%= render 'shared/content_title', title: 'Tags' %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Tickets</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% @tags.each do |tag| %>
        <tr><%= render 'tag', tag: tag %></tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'New Tag', new_tag_path %>
