/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*/

/* General Styles */

body {
  margin: 5px 30px;
}

table,
label,
input,
textarea,
select,
li,
h2,
p,
a,
.alert {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #1565c0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}



/* Nav Styles */

header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

header ul {
  display: flex;
  flex-direction: row;
}

header ul:nth-of-type(2) {
  margin-left: auto;
}

header li {
  margin-left: 5px;
}


/* Table Styles */

table {
  margin: 30px 0;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #ccc;
  text-align: left;
  padding: 10px 0;
  width: 30%;
}



/* Form Styles */

form div {
  margin: 20px 0;
}

form div input,
textarea {
  width: 100%;
  border-radius: 3px;
  box-shadow: inset 1px 1px 2px 1px #f7f7f7;
  border: 1px solid #ccc;
  padding: 5px 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.btn {
  border-radius: 3px;
  color: #fff;
  background-color: #1565c0;
  padding: 10px 25px;
  border: none;
  line-height: normal;
  font-weight: bold;
}



/* Message Styles */

.alert {
  margin: 20px 0;
}

.alert li {
  list-style: square;
  margin-left: 32px;
}

.alert-success {
  color: #00806f;
}

.alert-error {
  color: #cc0000;
}



/* View Specific Styles */

#ticket-wrapper p,
#project-wrapper p,
.btn-group {
  margin: 20px 0;
}

#projects-wrapper th ~ th,
#projects-wrapper td ~ td {
  text-align: center;
}

#project-wrapper td,
#project-wrapper th,
#tickets-wrapper td,
#tickets-wrapper th {
  width: 20%;
}

#tickets-wrapper th ~ th,
#tickets-wrapper td ~ td {
  text-align: left;
}

#tags-wrapper th:nth-of-type(2),
#tags-wrapper td:nth-of-type(2) {
  text-align: center;
}
